* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    background-color: blue;
}

@media  (max-width:1399px){
    .col-1 {
        max-width: 1140px;
        background-color: green;
    }
}

@media  (max-width:1199px){
    .col-2 {
        max-width: 960px;
        background-color: yellow;
    }
}

@media  (max-width:991px){
    .col-3 {
        max-width: 720px;
        background-color: orange;
    }
}

@media  (max-width:767px){
     .col-4 {
        max-width: 540px;
        background-color: red;
    }
}




